In [1]:
import numpy as np
data=[15,16,16,17,19,21,21,21,21,22,22,23,25,26,28,29,29,31,31,31,33,34,34,35,36,37,38,38,38,39,39,40,42,42,42,42,42,44,44,44,46,47,48,48,48,49,49,49,50,50]
print(len(data))
print('Mean : ',np.mean(data))
print('Median : ',np.median(data))
print('First Quartile : ',np.percentile(data,25))
print('Second Quartile (Median) : ',np.percentile(data,50))
print('Third Quartile : ',np.percentile(data,75))
print('66% data : ',np.percentile(data,66))
print('Varience ',np.var(data))
print('Standard diviation ',np.std(data))
print(data[int(len(data)/4)])

50
Mean :  34.62
Median :  36.5
First Quartile :  25.25
Second Quartile (Median) :  36.5
Third Quartile :  43.5
66% data :  42.0
Varience  114.0756
Standard diviation  10.680617959650087
25

In [2]:
import pandas as pd
pd.options.display.max_columns=100
df=pd.read_csv("restaurants.csv")
print(df)
print(df.describe())
print(type(df))

    SHOP_ID               CATEGORY  \
0    100001            Coffee shop
1    100002                   Cafe
2    100003                   Cafe
3    100004            Coffee shop
4    100005                   Cafe
..      ...                    ...
74   100075             Restaurant
75   100076  Vegetarian restaurant
76   100077       Vegan restaurant
77   100078  Vegetarian restaurant
78   100079       Add phone number

                                                 NAME  RATING PRICE  \
0   Java Lounge - Fort - Sri Lanka's Largest Coffe...     4.1    $$
1                   The Commons Coffee House at Hatch     4.1   NaN
2                              The t-Lounge by Dilmah     4.4    $$
3                                             Goodies     4.3    $$
4                          Barista World Trade Center     4.2    $$
..                                                ...     ...   ...
74               Saravana Bawan Vegetarian Restaurant     3.8     $
75                                         Royal Vege     4.0   NaN
76                         The VOV (Vegan Restaurant)     4.5    $$
77                           Reality Vegetable Hunter     4.3   NaN
78                Sri Kumaran's New Veggie Restaurant     NaN   NaN

    REVIEW_COUNT                                            ADDRESS  \
0          245.0                       7 Hospital St~ Colombo 00100
1           50.0                                            Colombo
2          780.0                          Chatham St~ Colombo 00100
3           68.0              117 Colombo - Batticaloa Hwy~ Colombo
4          282.0  Level 3 World Trade Center~ Bank of Ceylon Maw...
..           ...                                                ...
74         256.0    Colombo - Galle Main Rd~ Dehiwala-Mount Lavinia
75           2.0               74a Galle Rd~ Dehiwala-Mount Lavinia
76         169.0  No : 117/B/1 Raththanapitiya~ Colombo - Horana...
77           6.0                             Dehiwala-Mount Lavinia
78           NaN                Templers Rd~ Dehiwala-Mount Lavinia

                                           OPEN_HOURS  \
0   ["Friday~ 7AM to 11:45PM; Saturday~ 7AM to 11:...
1   ["Friday~ 8AM to 7PM; Saturday~ 8AM to 3PM; Su...
2   ["Friday~ 8AM to 9PM; Saturday~ 8AM to 9PM; Su...
3   ["Friday~ 7:30AM to 9PM; Saturday~ 7:30AM to 9...
4   ["Friday~ 7AM to 7PM; Saturday~ 7AM to 5PM; Su...
..                                                ...
74  ["Friday~ 8AM to 10PM; Saturday~ 8AM to 10PM; ...
75  ["Friday~ 6AM to 10PM; Saturday~ 6AM to 10PM; ...
76  ["Friday~ 11AM to 10PM; Saturday~ 11AM to 10PM...
77                                                NaN
78                                                NaN

                                           BUSY_HOURS
0   ['0% busy at 6 AM.'~ '0% busy at 7 AM.'~ '4% b...
1                                                 NaN
2   ['0% busy at 6 AM.'~ '0% busy at 7 AM.'~ '14% ...
3                                                 NaN
4   ['% busy at .'~ '0% busy at 6 AM.'~ '18% busy ...
..                                                ...
74                                                NaN
75                                                NaN
76                                                NaN
77                                                NaN
78                                                NaN

[79 rows x 9 columns]
             SHOP_ID     RATING  REVIEW_COUNT
count      79.000000  75.000000     75.000000
mean   100040.000000   4.186667    469.506667
std        22.949219   0.501170    938.406446
min    100001.000000   1.500000      1.000000
25%    100020.500000   4.000000      9.500000
50%    100040.000000   4.100000     68.000000
75%    100059.500000   4.400000    373.000000
max    100079.000000   5.000000   4634.000000
<class 'pandas.core.frame.DataFrame'>

In [3]:
col=df['CATEGORY'].values
print(col)
print("2---------------")
print(type(col))
print("3---------------")
print(col[:])
print("4---------------")
print(col[:,2])
print("5---------------")

['Coffee shop' 'Cafe' 'Cafe' 'Coffee shop' 'Cafe' 'Pastry shop'
 'Coffee shop' 'Cafe' 'Cafe' 'Coffee shop' 'Coffee shop' 'Cafe'
 'Coffee store' 'Cafe' 'Cafe' 'Restaurant' 'Coffee shop' 'Cafe' 'Cafe'
 'Cafe' 'Fast food restaurant' 'Halal restaurant' 'Hamburger restaurant'
 'Hamburger restaurant' 'Restaurant' 'Fast food restaurant'
 'Fast food restaurant' 'Fast food restaurant' 'Fast food restaurant'
 'Fast food restaurant' 'Restaurant' 'Fast food restaurant' 'Restaurant'
 'Family restaurant' 'Cafe' 'Add phone number' 'Hamburger restaurant'
 'Hamburger restaurant' 'Hamburger restaurant' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Add hours' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Candy store' 'Vegan restaurant'
 'Vegetarian restaurant' 'Vegetarian restaurant' 'Vegetarian restaurant'
 'Vegetarian restaurant' 'Buffet restaurant' 'Vegetarian restaurant'
 'Restaurant' 'Vegetarian restaurant' 'Restaurant' 'Vegetarian restaurant'
 'Vegetarian restaurant' 'Vegetarian restaurant' 'Vegetarian restaurant'
 'Add hours' 'Restaurant' 'Vegetarian restaurant' 'Vegan restaurant'
 'Vegetarian restaurant' 'Add phone number']
2---------------
<class 'numpy.ndarray'>
3---------------
['Coffee shop' 'Cafe' 'Cafe' 'Coffee shop' 'Cafe' 'Pastry shop'
 'Coffee shop' 'Cafe' 'Cafe' 'Coffee shop' 'Coffee shop' 'Cafe'
 'Coffee store' 'Cafe' 'Cafe' 'Restaurant' 'Coffee shop' 'Cafe' 'Cafe'
 'Cafe' 'Fast food restaurant' 'Halal restaurant' 'Hamburger restaurant'
 'Hamburger restaurant' 'Restaurant' 'Fast food restaurant'
 'Fast food restaurant' 'Fast food restaurant' 'Fast food restaurant'
 'Fast food restaurant' 'Restaurant' 'Fast food restaurant' 'Restaurant'
 'Family restaurant' 'Cafe' 'Add phone number' 'Hamburger restaurant'
 'Hamburger restaurant' 'Hamburger restaurant' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Add hours' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Ice cream shop' 'Ice cream shop'
 'Ice cream shop' 'Ice cream shop' 'Candy store' 'Vegan restaurant'
 'Vegetarian restaurant' 'Vegetarian restaurant' 'Vegetarian restaurant'
 'Vegetarian restaurant' 'Buffet restaurant' 'Vegetarian restaurant'
 'Restaurant' 'Vegetarian restaurant' 'Restaurant' 'Vegetarian restaurant'
 'Vegetarian restaurant' 'Vegetarian restaurant' 'Vegetarian restaurant'
 'Add hours' 'Restaurant' 'Vegetarian restaurant' 'Vegan restaurant'
 'Vegetarian restaurant' 'Add phone number']
4---------------

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [ ]:
minidf=df[['CATEGORY','SHOP_ID','ADDRESS']]
print(minidf.head(20))
print(type(minidf))
print(df.head(20))
print(minidf.values) #prints a 2d numpy array

In [ ]:
minidf['CAFE']=minidf['CATEGORY']=='Cafe' #adding a extra column CAFE where if it return tue if CATEGORY is cafe

In [ ]:
array=df['SHOP_ID'].head(10).values
print(df['SHOP_ID'].head(10).values,type(array))#values attribute returns a 1d array

In [6]:
lk=df[['CATEGORY','PRICE']].values  #=[[Row1],[Row2],[Row3]] CATEGORY,PRICE acts as references to their memory locations like indexes
print(lk.shape)
print(lk[2][1])
print(lk[:,1])#selects index 1 element ofeveryinner array":" stands for normal array operation array[start:end]
print(lk[0:3,1])
print(lk[:10]) #simple array operation

(79, 2)
$$
['$$' nan '$$' '$$' '$$' nan nan nan nan '$$' nan nan nan nan nan nan nan
 '$' '$$$' nan '$' '$$' '$$' nan '$$$' nan nan nan '$' nan '$$' nan nan
 '$$' nan nan nan '$$' nan nan nan '$$' nan nan nan nan nan nan nan nan
 nan '$$' '$$' '$' nan '$' '$$$' nan nan nan nan nan nan '$$' '$$$$' '$$'
 '$$' nan '$$$' nan '$' nan '$$' nan '$' nan '$$' nan nan]
['$$' nan '$$']
[['Coffee shop' '$$']
 ['Cafe' nan]
 ['Cafe' '$$']
 ['Coffee shop' '$$']
 ['Cafe' '$$']
 ['Pastry shop' nan]
 ['Coffee shop' nan]
 ['Cafe' nan]
 ['Cafe' nan]
 ['Coffee shop' '$$']]