In [1]:
import numpy as np
data=[15,16,16,17,19,21,21,21,21,22,22,23,25,26,28,29,29,31,31,31,33,34,34,35,36,37,38,38,38,39,39,40,42,42,42,42,42,44,44,44,46,47,48,48,48,49,49,49,50,50]
print(len(data))
print('Mean : ',np.mean(data))
print('Median : ',np.median(data))
print('First Quartile : ',np.percentile(data,25))
print('Second Quartile (Median) : ',np.percentile(data,50))
print('Third Quartile : ',np.percentile(data,75))
print('66% data : ',np.percentile(data,66))
print('Varience ',np.var(data))
print('Standard diviation ',np.std(data))
print(data[int(len(data)/4)])

50
Mean :  34.62
Median :  36.5
First Quartile :  25.25
Second Quartile (Median) :  36.5
Third Quartile :  43.5
66% data :  42.0
Varience  114.0756
Standard diviation  10.680617959650087
25

In [35]:
import pandas as pd
df=pd.read_csv("restaurants.csv").head(4)
print(df)
print(df.describe())
print(type(df))

   SHOP_ID     CATEGORY                                               NAME  \
0   100001  Coffee shop  Java Lounge - Fort - Sri Lanka's Largest Coffe...
1   100002         Cafe                  The Commons Coffee House at Hatch
2   100003         Cafe                             The t-Lounge by Dilmah
3   100004  Coffee shop                                            Goodies

   RATING PRICE  REVIEW_COUNT                                ADDRESS  \
0     4.1    $$         245.0           7 Hospital St~ Colombo 00100
1     4.1   NaN          50.0                                Colombo
2     4.4    $$         780.0              Chatham St~ Colombo 00100
3     4.3    $$          68.0  117 Colombo - Batticaloa Hwy~ Colombo

                                          OPEN_HOURS  \
0  ["Friday~ 7AM to 11:45PM; Saturday~ 7AM to 11:...
1  ["Friday~ 8AM to 7PM; Saturday~ 8AM to 3PM; Su...
2  ["Friday~ 8AM to 9PM; Saturday~ 8AM to 9PM; Su...
3  ["Friday~ 7:30AM to 9PM; Saturday~ 7:30AM to 9...

                                          BUSY_HOURS
0  ['0% busy at 6 AM.'~ '0% busy at 7 AM.'~ '4% b...
1                                                NaN
2  ['0% busy at 6 AM.'~ '0% busy at 7 AM.'~ '14% ...
3                                                NaN
             SHOP_ID  RATING  REVIEW_COUNT
count       4.000000   4.000      4.000000
mean   100002.500000   4.225    285.750000
std         1.290994   0.150    341.045818
min    100001.000000   4.100     50.000000
25%    100001.750000   4.100     63.500000
50%    100002.500000   4.200    156.500000
75%    100003.250000   4.325    378.750000
max    100004.000000   4.400    780.000000
<class 'pandas.core.frame.DataFrame'>

In [37]:
col=df[['CATEGORY','SHOP_ID']]
print(col)
print(type(col))
print(col.head(10))

      CATEGORY  SHOP_ID
0  Coffee shop   100001
1         Cafe   100002
2         Cafe   100003
3  Coffee shop   100004
<class 'pandas.core.frame.DataFrame'>
      CATEGORY  SHOP_ID
0  Coffee shop   100001
1         Cafe   100002
2         Cafe   100003
3  Coffee shop   100004

In [46]:
minidf=df[['CATEGORY','SHOP_ID','ADDRESS']]
print(minidf.head(20))
print(df.head(20))
print(minidf.values) #prints a 2d numpy array

      CATEGORY  SHOP_ID                                ADDRESS
0  Coffee shop   100001           7 Hospital St~ Colombo 00100
1         Cafe   100002                                Colombo
2         Cafe   100003              Chatham St~ Colombo 00100
3  Coffee shop   100004  117 Colombo - Batticaloa Hwy~ Colombo
   SHOP_ID     CATEGORY                                               NAME  \
0   100001  Coffee shop  Java Lounge - Fort - Sri Lanka's Largest Coffe...
1   100002         Cafe                  The Commons Coffee House at Hatch
2   100003         Cafe                             The t-Lounge by Dilmah
3   100004  Coffee shop                                            Goodies

   RATING PRICE  REVIEW_COUNT                                ADDRESS  \
0     4.1    $$         245.0           7 Hospital St~ Colombo 00100
1     4.1   NaN          50.0                                Colombo
2     4.4    $$         780.0              Chatham St~ Colombo 00100
3     4.3    $$          68.0  117 Colombo - Batticaloa Hwy~ Colombo

                                          OPEN_HOURS  \
0  ["Friday~ 7AM to 11:45PM; Saturday~ 7AM to 11:...
1  ["Friday~ 8AM to 7PM; Saturday~ 8AM to 3PM; Su...
2  ["Friday~ 8AM to 9PM; Saturday~ 8AM to 9PM; Su...
3  ["Friday~ 7:30AM to 9PM; Saturday~ 7:30AM to 9...

                                          BUSY_HOURS
0  ['0% busy at 6 AM.'~ '0% busy at 7 AM.'~ '4% b...
1                                                NaN
2  ['0% busy at 6 AM.'~ '0% busy at 7 AM.'~ '14% ...
3                                                NaN
[['Coffee shop' 100001 '7 Hospital St~ Colombo 00100']
 ['Cafe' 100002 'Colombo']
 ['Cafe' 100003 'Chatham St~ Colombo 00100']
 ['Coffee shop' 100004 '117 Colombo - Batticaloa Hwy~ Colombo']]

In [38]:
minidf['CAFE']=minidf['CATEGORY']=='Cafe' #adding a extra column CAFE where if it return tue if CATEGORY is cafe

<ipython-input-38-7709d1c5c659>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  minidf['CAFE']=minidf['CATEGORY']=='Cafe'

In [45]:
array=df['SHOP_ID'].head(10).values
print(df['SHOP_ID'].head(10).values,type(array))#values attribute returns a 1d array

[100001 100002 100003 100004] <class 'numpy.ndarray'>